      <section class="sppb-section" id="section-id-bd4cac70-69ae-4380-ab3a-c5905227bd88">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-col-md-4" id="column-wrap-id-b57c2ff2-4585-4826-a6e1-a6c0e24f5b2e">
          <div class="sppb-column" id="column-id-b57c2ff2-4585-4826-a6e1-a6c0e24f5b2e">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-c8db9fa9-3214-47f7-9d29-cc7da12229f5">
             <div class="clearfix" id="sppb-addon-c8db9fa9-3214-47f7-9d29-cc7da12229f5">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-3054ad46-a4b4-4f00-b457-ef21b03cb921">
             <div class="clearfix" id="sppb-addon-3054ad46-a4b4-4f00-b457-ef21b03cb921">
              <div class="sppb-addon sppb-addon-header">
               <h5 class="sppb-addon-title">
                Почему выбирают нас
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-0aac5fb3-9045-4b21-8514-dc8011ec1b0b">
             <div class="clearfix" id="sppb-addon-0aac5fb3-9045-4b21-8514-dc8011ec1b0b">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                С нами надежно и безопасно
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-b7fc4665-387f-46db-adfc-2fd75bed3ba9">
          <div class="sppb-column" id="column-id-b7fc4665-387f-46db-adfc-2fd75bed3ba9">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-d8135edb-c4da-4458-8e1e-3381c748081a">
             <div class="clearfix" id="sppb-addon-d8135edb-c4da-4458-8e1e-3381c748081a">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Офисы в Корее и Китае" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-building-circle-check">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Офисы в Корее и Китае
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     А так же собственные стоянки в Корее, Китае и Владивостоке, где мы храним выкупленные автомобили
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-f5ca81ad-8695-42a6-9e7b-4495b554a3a3">
             <div class="clearfix" id="sppb-addon-f5ca81ad-8695-42a6-9e7b-4495b554a3a3">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Обязательное оформление страхового полиса" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-address-book">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Обязательное оформление страхового полиса
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     Все действия, связанные с транспортировой авто осуществляются при обязательном оформлении страховки
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-410e8327-31f8-4248-8dd0-8e353d76d658">
             <div class="clearfix" id="sppb-addon-410e8327-31f8-4248-8dd0-8e353d76d658">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Безопасный денежный расчет" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-money-bill-transfer">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Безопасный денежный расчет
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     Предоставляем клиентам быстрый, надежный и безопасный способ расчета при оплате инвойса
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-4 sppb-col-sm-6" id="column-wrap-id-82621c76-b3d8-4822-a7ba-3154e1bee793">
          <div class="sppb-column" id="column-id-82621c76-b3d8-4822-a7ba-3154e1bee793">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-876e1dcb-9c27-4310-96c9-eaf6fc4716a3">
             <div class="clearfix" id="sppb-addon-876e1dcb-9c27-4310-96c9-eaf6fc4716a3">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Фото и видео на всех этапах" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-file-video">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Фото и видео на всех этапах
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     Отправляем клиенту фото и видео материалы со всех этапов, в процессе доставки авто
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-8441bc95-22cd-4bbb-86c7-c6bf4ac58a5a">
             <div class="clearfix" id="sppb-addon-8441bc95-22cd-4bbb-86c7-c6bf4ac58a5a">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Бесплатное ТО и диагностика" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-oil-can">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Бесплатное ТО и диагностика
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     Техническое обслуживание и компьютерная диагностика авто перед отправкой
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-85967ffa-cde4-43bc-9544-b45f6b623b43">
             <div class="clearfix" id="sppb-addon-85967ffa-cde4-43bc-9544-b45f6b623b43">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="Техническая гарантия на автомобиль" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="fas fa-shield-virus">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    Техническая гарантия на автомобиль
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     Гарантийные услуги на двигатель, трансмиссию и прочие узлы и агрегаты ввезенного автомобиля
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
