{% load static %}

      <section class="sppb-section sppb-hidden-lg sppb-hidden-md sppb-hidden-sm sppb-hidden-xs"
               id="section-id-e9e42402-ab3c-4b68-b524-87d21c43403d">
            <div class="sppb-row-container">
                  <div class="sppb-row">

                        <!-- Первая колонка: карусель логотипов -->
                        <div class="sppb-col-md-12"
                             id="column-wrap-id-0b0d65a4-4250-4dce-904f-6e419f42edd5">
                              <div class="sppb-column" id="column-id-0b0d65a4-4250-4dce-904f-6e419f42edd5">
                                    <div class="sppb-column-addons">
                                          <div class="sppb-addon-wrapper addon-root-clients"
                                               id="sppb-addon-wrapper-0ba6af91-e55a-46b4-9398-cddb62f5a2c0">
                                                <div class="clearfix" id="sppb-addon-0ba6af91-e55a-46b4-9398-cddb62f5a2c0">
                                                      <div class="sppb-addon sppb-addon-clients"
                                                           data-arrow="0"
                                                           data-autoplay="0"
                                                           data-dots="0"
                                                           data-interval="3500"
                                                           data-item-number-lg="4"
                                                           data-item-number-md="3"
                                                           data-item-number-sm="3"
                                                           data-item-number-xl="5"
                                                           data-item-number-xs="2"
                                                           data-left-arrow="fa-angle-left"
                                                           data-loop="true"
                                                           data-margin-lg=""
                                                           data-margin-md=""
                                                           data-margin-sm=""
                                                           data-margin-xl=""
                                                           data-margin-xs=""
                                                           data-pause-on-hover="1"
                                                           data-right-arrow="fa-angle-right"
                                                           data-speed="2000">
                                                            <div class="sppb-addon-content">
                                                                  <div class="sppb-row">
                                                                        <!-- Логотипы -->
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="ауди"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/audi-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="кадиллак"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/cadillac-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="лексус"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/lexus-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="бмв"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/bmw-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="хендэ"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/hyundai-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="мини"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/mini-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="лендровер"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/landrover-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="вв"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/volkswagen-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="киа"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/kia-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="мерс"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/merc_logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="пежо"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/peugeot-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="ламба"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/lambo_logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="тойота"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/toyota-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="генесис"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/genesis_logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="мазда"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/mazda-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="порше"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/porsche-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="ситроен"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/citroen-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="финик"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/infinity-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="опель"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/opel-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="рено"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/renault-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="майбах"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/maybach-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="ссаньенг"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/ssangyong-logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="шевроле"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/chevy_logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                        <div class="sppb-col-sm-2">
                                                                              <img alt="вольво"
                                                                                   class="sppb-img-responsive sppb-addon-clients-image"
                                                                                   height="75"
                                                                                   loading="lazy"
                                                                                   src="/static/home/images/2025/02/05/volvo_logo.jpg"
                                                                                   width="100" decoding="async">
                                                                        </div>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                        <!-- Вторая колонка: заголовки и разделитель -->
                        <div class="sppb-row-column"
                             id="column-wrap-id-2d9d1b31-fc5e-4866-9d9e-cfa157a25f09">
                              <div class="sppb-column" id="column-id-2d9d1b31-fc5e-4866-9d9e-cfa157a25f09">
                                    <div class="sppb-column-addons">
                                          <div class="sppb-addon-wrapper addon-root-divider"
                                               id="sppb-addon-wrapper-bcdc1988-5b4e-48b7-8915-15f45d43ac1d">
                                                <div class="clearfix" id="sppb-addon-bcdc1988-5b4e-48b7-8915-15f45d43ac1d">
                                                      <div class="sppb-addon-divider-wrap divider-position">
                                                            <div class="sppb-divider sppb-divider-border" role="none"></div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="sppb-addon-wrapper addon-root-heading"
                                               id="sppb-addon-wrapper-08218309-1f91-4b39-8dce-1d09b5899ff9">
                                                <div class="clearfix" id="sppb-addon-08218309-1f91-4b39-8dce-1d09b5899ff9">
                                                      <div class="sppb-addon sppb-addon-header">
                                                            <h5 class="sppb-addon-title">Автомобиль каких марок можно подобрать у нас?</h5>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="sppb-addon-wrapper addon-root-heading"
                                               id="sppb-addon-wrapper-d23583dc-43a5-4915-9184-2cac983f271d">
                                                <div class="clearfix" id="sppb-addon-d23583dc-43a5-4915-9184-2cac983f271d">
                                                      <div class="sppb-addon sppb-addon-header">
                                                            <h3 class="sppb-addon-title">Все известные автомобильные марки Европы, США, Японии и Кореи</h3>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>

                  </div>
            </div>
      </section>
      
      <section class="sppb-section sppb-hidden-xl" id="section-id-c622e154-c19c-4bd7-92e2-33d50099111b">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-153e6a6d-14d7-42a2-800c-1236fe3f2d76">
          <div class="sppb-column" id="column-id-153e6a6d-14d7-42a2-800c-1236fe3f2d76">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-c7067a43-ccb7-4262-99af-6ba3087ffbb2">
             <div class="clearfix" id="sppb-addon-c7067a43-ccb7-4262-99af-6ba3087ffbb2">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-6918ba78-feeb-4d05-a74e-5b60e1b989ca">
             <div class="clearfix" id="sppb-addon-6918ba78-feeb-4d05-a74e-5b60e1b989ca">
              <div class="sppb-addon sppb-addon-header">
               <h5 class="sppb-addon-title">
                Автомобиль каких марок можно
                <br/>
                подобрать у нас?
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-6d3812ef-48d4-4edf-ba13-bf32636593e8">
             <div class="clearfix" id="sppb-addon-6d3812ef-48d4-4edf-ba13-bf32636593e8">
              <div class="sppb-addon sppb-addon-header">
               <h3 class="sppb-addon-title">
                Все известные автомобильные марки Европы, США, Японии и Кореи
               </h3>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-47d95aa9-243f-4a1a-8e7e-e460216a2e14">
             <div class="clearfix" id="sppb-addon-47d95aa9-243f-4a1a-8e7e-e460216a2e14">
              <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
               <div class="sppb-addon-content">
                <div class="sppb-addon-single-image-container">
                 <img alt="Image" class="sppb-img-responsive" decoding="async" height="420" loading="lazy" src="{% static 'home/images/2025/08/09/autobrands.webp' %}" width="764"/>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
