{% load static %}
<section class="home-china" aria-labelledby="home-china-title">
    <div class="home-china__heading-container">
        <h2 class="home-china__title" id="home-china-title">Подберем АВТО<br>в Китае</h2>
    </div>
    <div class="home-china__body">
        <div class="home-china__image-wrap">
            <img class="home-china__image" src="{% static 'home/images/2025/07/30/china-cars.webp' %}"
                 alt="Автомобили из Китая" width="1230" height="790" loading="lazy" decoding="async">
        </div>
        <div class="home-china__content">
            <div class="home-china__divider" aria-hidden="true"></div>
            <h3 class="home-china__subtitle">
                Подбираем импортные автомобили и автомобили производства Китай.<br>Новые и с пробегом.
            </h3>
            <p class="home-china__text">
                Автомобильный рынок Китая является сегодня самым крупным и динамично развивающимся в мире.
                Ежегодный объем продаж составляет более 25 млн. новых автомобилей, что делает его лидером
                по продажам среди всех стран. В Китае представлено множество как местных, так и иностранных
                брендов с широким ассортиментом от эконом-класса до люксовых автомобилей, а также растущее
                количество электромобилей.
            </p>
        </div>
    </div>
</section>
