{% load static %}
      <section class="sppb-section" id="section-id-b7dbf0e3-f066-4d32-b21f-fde46f0c810e" style="max-width: 100vw;margin-right: calc(50% - 50vw);margin-left: calc(50% - 50vw);">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-col-md-12" id="column-wrap-id-836a0675-4473-43ca-b498-b529a7b4766f">
          <div class="sppb-column" id="column-id-836a0675-4473-43ca-b498-b529a7b4766f">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-49a41265-4533-4992-aedf-1c25d2d175c8">
             <div class="clearfix" id="sppb-addon-49a41265-4533-4992-aedf-1c25d2d175c8">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Подберем АВТО
                <br/>
                в Китае
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <section class="sppb-section secondary-bg gray-section sppb-hidden-xl sppb-hidden-lg sppb-hidden-md sppb-hidden-sm" id="section-id-40b7315e-c566-4e62-a9e5-8c0dca49f0fc" style="max-width: 100vw;margin-right: calc(50% - 50vw);margin-left: calc(50% - 50vw);">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-col-md-6" id="column-wrap-id-3bc242d1-741c-425f-9be0-b5d9a08897c9">
          <div class="sppb-column" id="column-id-3bc242d1-741c-425f-9be0-b5d9a08897c9">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-349882aa-d77e-4a66-a349-5de4f2b740af">
             <div class="clearfix" id="sppb-addon-349882aa-d77e-4a66-a349-5de4f2b740af">
              <div class="sppb-addon sppb-addon-single-image creative-art-img sppb-addon-image-shape">
               <div class="sppb-addon-content">
                <div class="sppb-addon-single-image-container">
                 <img alt="Image" class="sppb-img-responsive" decoding="async" loading="lazy" src="{% static 'home/images/2025/07/30/china-cars.webp' %}" width="1230" height="790"/>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-6" id="column-wrap-id-38651f40-02bb-4765-8e4a-c93ade0d87a7">
          <div class="sppb-column" id="column-id-38651f40-02bb-4765-8e4a-c93ade0d87a7">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-27e537b7-0ab7-4677-a0a1-ef1e62fa2feb">
             <div class="clearfix" id="sppb-addon-27e537b7-0ab7-4677-a0a1-ef1e62fa2feb">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-64562055-8ed5-40c6-9033-e09a335b4c94">
             <div class="clearfix" id="sppb-addon-64562055-8ed5-40c6-9033-e09a335b4c94">
              <div class="sppb-addon sppb-addon-header">
               <h3 class="sppb-addon-title">
                Подбираем импортные автомобили и автомобили производства Китай. Новые и с пробегом.
               </h3>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-67f62fd3-78f9-4eee-b00a-7f5d692a7a70">
             <div class="clearfix" id="sppb-addon-67f62fd3-78f9-4eee-b00a-7f5d692a7a70">
              <div class="sppb-addon sppb-addon-text-block">
               <div class="sppb-addon-content">
                <p>
                 Автомобильный рынок Китая является сегодня самым крупным и динамично развивающимся в мире. Ежегодный объем продаж составляет более 25 млн. новых автомобилей, что делает его лидером по продажам среди всех стран. В Китае представлено множество как местных, так и иностранных брендов с широким ассортиментом от эконом-класса до люксовых автомобилей, а также растущее количество электромобилей.
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <div class="sppb-section secondary-bg gray-section sppb-hidden-xs" id="section-id-404c9b88-851b-401b-bb87-7210d4e979a3" style="max-width: 100vw;margin-right: calc(50% - 50vw);margin-left: calc(50% - 50vw);">
       <div class="sppb-container-inner">
        <div class="sppb-row">
         <div class="sppb-col-md-6" id="column-wrap-id-23e7cb02-eaa4-4d9c-b9a0-aa9acfcabdb2">
          <div class="sppb-column" id="column-id-23e7cb02-eaa4-4d9c-b9a0-aa9acfcabdb2">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-3c960a55-407e-421a-a456-25f60e7272d5">
             <div class="clearfix" id="sppb-addon-3c960a55-407e-421a-a456-25f60e7272d5">
              <div class="sppb-addon sppb-addon-single-image creative-art-img sppb-addon-image-shape">
               <div class="sppb-addon-content">
                <div class="sppb-addon-single-image-container">
                 <img alt="Image" class="sppb-img-responsive" decoding="async" loading="lazy" src="{% static 'home/images/2025/07/30/china-cars.webp' %}" width="1230" height="790"/>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-6" id="column-wrap-id-5dde6c35-a852-488a-b322-3fc9256d1eeb">
          <div class="sppb-column" id="column-id-5dde6c35-a852-488a-b322-3fc9256d1eeb">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-30b50d4d-e902-404e-8d56-777c12dbf7ff">
             <div class="clearfix" id="sppb-addon-30b50d4d-e902-404e-8d56-777c12dbf7ff">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-a4524220-a739-4f7b-aba8-e779ebbe4f5f">
             <div class="clearfix" id="sppb-addon-a4524220-a739-4f7b-aba8-e779ebbe4f5f">
              <div class="sppb-addon sppb-addon-header">
               <h3 class="sppb-addon-title">
                Подбираем импортные автомобили и автомобили производства Китай.
                <br/>
                Новые и с пробегом.
               </h3>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-b2585fc9-be75-43ff-8d17-5e884c0eaff2">
             <div class="clearfix" id="sppb-addon-b2585fc9-be75-43ff-8d17-5e884c0eaff2">
              <div class="sppb-addon sppb-addon-text-block">
               <div class="sppb-addon-content">
                <p>
                 Автомобильный рынок Китая является сегодня самым крупным и динамично развивающимся в мире. Ежегодный объем продаж составляет более 25 млн. новых автомобилей, что делает его лидером по продажам среди всех стран. В Китае представлено множество как местных, так и иностранных брендов с широким ассортиментом от эконом-класса до люксовых автомобилей, а также растущее количество электромобилей.
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
