{% if clients %}
<section class="sppb-section clients-section" id="klienty">
 <div class="sppb-row-container">
  <div class="clients-section__divider" aria-hidden="true"></div>
  <h4 class="clients-section__title">Наши клиенты</h4>
  <div class="sppb-carousel-extended clients-carousel"
       data-arrow="1" data-autoplay="0" data-dots="1" data-interval="6"
       data-item-number-xl="6" data-item-number-lg="4" data-item-number-md="4"
       data-item-number-sm="2" data-item-number-xs="1"
       data-left-arrow="fa-angle-left" data-right-arrow="fa-angle-right"
       data-loop="true" data-margin="18" data-pause-on-hover="0" data-speed="41">
   {% for client in clients %}
    {% include 'home/sections/_client_card.html' with client=client %}
   {% endfor %}
  </div>
 </div>
</section>
{% endif %}
