{% load static %}
      <section class="sppb-section secondary-bg gray-section sppb-section-content-center" id="sroki">
       <div class="sppb-row-container">
        <div class="sppb-row sppb-align-center">
         <div class="sppb-col-md-6" id="column-wrap-id-5796e179-567a-4cdb-baed-0dc6589b2143">
          <div class="sppb-column" id="column-id-5796e179-567a-4cdb-baed-0dc6589b2143">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-bb898eb0-1e8b-45e3-83ab-1098379fefa0">
             <div class="clearfix" id="sppb-addon-bb898eb0-1e8b-45e3-83ab-1098379fefa0">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-78cba436-b908-45ca-81f5-d2246c074e91">
             <div class="clearfix" id="sppb-addon-78cba436-b908-45ca-81f5-d2246c074e91">
              <div class="sppb-addon sppb-addon-header op3">
               <h5 class="sppb-addon-title">
                Средний срок доставки
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-6b6c1ab8-61ca-43ee-bc14-0bcc2616c998">
             <div class="clearfix" id="sppb-addon-6b6c1ab8-61ca-43ee-bc14-0bcc2616c998">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Доставим автомобиль в ваш город в срок от 30 до 45 дней
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-c17cf398-0fdb-45a4-8bbd-57f618e16135">
          <div class="sppb-column" id="column-id-c17cf398-0fdb-45a4-8bbd-57f618e16135">
           <div class="sppb-column-addons">
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <div class="sppb-section secondary-bg gray-section sppb-section-content-center" id="section-id-583b10ee-8866-4c5d-ba52-7653aeebcb13">
       <div class="sppb-container-inner">
        <div class="sppb-row sppb-align-center">
         <div class="sppb-row-column" id="column-wrap-id-fedadfb9-f7ab-4bd9-8971-d69d0f0db146">
          <div class="sppb-column" id="column-id-fedadfb9-f7ab-4bd9-8971-d69d0f0db146">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-14205c14-48eb-4ad3-b828-a9e11b3b3d10">
             <div class="clearfix" id="sppb-addon-14205c14-48eb-4ad3-b828-a9e11b3b3d10">
              <div class="sppb-addon sppb-addon-single-image creative-art-img sppb-addon-image-shape">
               <div class="sppb-addon-content">
                <div class="sppb-addon-single-image-container">
                 <img alt="Image" class="sppb-img-responsive" decoding="async" height="800" loading="lazy" src="{% static 'home/images/2025/09/01/avto-voz.webp' %}" width="1207"/>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-6" id="column-wrap-id-727f7452-4e32-4088-826e-db1e7360bdb0">
          <div class="sppb-column" id="column-id-727f7452-4e32-4088-826e-db1e7360bdb0">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-c9880db4-b6ea-4228-ad1b-32650eae80e1">
             <div class="clearfix" id="sppb-addon-c9880db4-b6ea-4228-ad1b-32650eae80e1">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="за 5-8 дней мы:" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="far fa-calendar-check">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    за 5-8 дней мы:
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     подбираем авто, выкупаем у дилера, проводим ТО и диагностику, отправляем в РФ
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-a7ebe33a-d5cb-461f-9f03-a9fe55241928">
             <div class="clearfix" id="sppb-addon-a7ebe33a-d5cb-461f-9f03-a9fe55241928">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="через 8-15 дней:" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="far fa-calendar-check">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    через 8-15 дней:
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     проходим таможню, готовим документы, отправлям автовоз заказчику
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-feature" id="sppb-addon-wrapper-b71fdc78-259e-452c-a2c7-73f2ec372369">
             <div class="clearfix" id="sppb-addon-b71fdc78-259e-452c-a2c7-73f2ec372369">
              <div class="sppb-addon-content-align-left sppb-addon sppb-addon-feature sppb-text-left">
               <div class="sppb-addon-content">
                <div class="sppb-media">
                 <div class="pull-left">
                  <div class="sppb-icon">
                   <span aria-label="ещё через 15-21 день:" class="sppb-icon-container" role="img">
                    <i aria-hidden="true" class="far fa-calendar-check">
                    </i>
                   </span>
                  </div>
                 </div>
                 <div class="sppb-media-body">
                  <div class="sppb-media-content">
                   <h4 class="sppb-addon-title sppb-feature-box-title sppb-media-heading">
                    ещё через 15-21 день:
                   </h4>
                   <div class="sppb-addon-text">
                    <p>
                     прибытие автовоза, приемка и осмотр, передача автомобиля заказчику
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <section class="sppb-section sppb-hidden-sm sppb-hidden-xs" id="section-id-86865e23-bbc9-4ac1-8b56-0e58f76ae97d">
       <div class="sppb-row-overlay">
       </div>
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-0d0695a9-d371-469b-8ff7-414a6501dbaf">
          <div class="sppb-column" id="column-id-0d0695a9-d371-469b-8ff7-414a6501dbaf">
           <div class="sppb-column-addons">
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-88e938df-b70d-49d5-9a72-042927a11b2c">
          <div class="sppb-column" id="column-id-88e938df-b70d-49d5-9a72-042927a11b2c">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-d387ebf7-96e7-4324-b1a2-2c6fa51576c8">
             <div class="clearfix" id="sppb-addon-d387ebf7-96e7-4324-b1a2-2c6fa51576c8">
              <div class="sppb-addon sppb-addon-text-block">
               <h3 class="sppb-addon-title">
                Доступ на закрытые автомобильные площадки
               </h3>
               <div class="sppb-addon-content">
                <p>
                 Нам предоставлен доступ к закрытым площадкам Южной Кореи с автомобилями премиальных марок
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
