      <section class="sppb-section" id="section-id-aaadb36f-8b44-418f-8c62-6c59539806f0">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-2c86da9e-bb2e-40d7-b6e4-306b3e53816b">
          <div class="sppb-column" id="column-id-2c86da9e-bb2e-40d7-b6e4-306b3e53816b">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-9e4c1c46-0121-4d9b-9235-1dd6e69d5a12">
             <div class="clearfix" id="sppb-addon-9e4c1c46-0121-4d9b-9235-1dd6e69d5a12">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Подберем АВТО это
                <br/>
                компания полного цикла
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-e5345a83-45e7-4c3f-ba09-c841585a2755">
          <div class="sppb-column" id="column-id-e5345a83-45e7-4c3f-ba09-c841585a2755">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-timeline" id="sppb-addon-wrapper-51a0c36f-a658-4f0b-abc2-1ea96d955909">
             <div class="clearfix" id="sppb-addon-51a0c36f-a658-4f0b-abc2-1ea96d955909">
              <div class="sppb-addon sppb-addon-timeline">
               <div class="sppb-addon-timeline-text-wrap">
               </div>
               <div class="sppb-addon-timeline-wrapper">
                <div class="sppb-row timeline-movement even">
                 <div class="timeline-badge">
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-block">
                  <p class="timeline-date text-start text-left">
                   1. ВЫБОР АВТОМОБИЛЯ
                  </p>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <div class="timeline-panel left-part">
                   <div class="details">
                    <p>
                     Подбор автомобиля, осмотр, съемка фото и видео материалов обзора, согласование с заказчиком
                    </p>
                   </div>
                  </div>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-hidden">
                  <p class="timeline-date text-start text-left">
                   1. ВЫБОР АВТОМОБИЛЯ
                  </p>
                 </div>
                </div>
                <div class="sppb-row timeline-movement odd">
                 <div class="timeline-badge">
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <p class="timeline-date text-end text-right">
                   2. ВЫКУП/ОБСЛУЖИВАНИЕ
                  </p>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <div class="timeline-panel">
                   <div class="details">
                    <p>
                     Бронирование, выкуп автомобиля у дилера, доставка на нашу стоянку, проведение ТО и диагностики
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
                <div class="sppb-row timeline-movement even">
                 <div class="timeline-badge">
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-block">
                  <p class="timeline-date text-start text-left">
                   3. ЛОГИСТИКА/СОПРОВОЖДЕНИЕ
                  </p>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <div class="timeline-panel left-part">
                   <div class="details">
                    <p>
                     Отправка в порт, погрузо-разгрузочные работы, доставка в город таможенного оформления, таможенный брокер
                    </p>
                   </div>
                  </div>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-hidden">
                  <p class="timeline-date text-start text-left">
                   3. ЛОГИСТИКА/СОПРОВОЖДЕНИЕ
                  </p>
                 </div>
                </div>
                <div class="sppb-row timeline-movement odd">
                 <div class="timeline-badge">
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <p class="timeline-date text-end text-right">
                   4. ТАМОЖНЯ/ДОКУМЕНТЫ
                  </p>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <div class="timeline-panel">
                   <div class="details">
                    <p>
                     Оформление таможенной документации, квитанций таможенной пошлины и утильсбора, лаборатория, ЭПТС и СБКТС
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
                <div class="sppb-row timeline-movement even">
                 <div class="timeline-badge">
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-block">
                  <p class="timeline-date text-start text-left">
                   5. ДОСТАВКА ЗАКАЗЧИКУ
                  </p>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item">
                  <div class="timeline-panel left-part">
                   <div class="details">
                    <p>
                     Русификация, страхование, погрузка на автовоз, отправка, приемка автомобиля, передача заказчику
                    </p>
                   </div>
                  </div>
                 </div>
                 <div class="sppb-col-xs-12 sppb-col-sm-6 timeline-item mobile-hidden">
                  <p class="timeline-date text-start text-left">
                   5. ДОСТАВКА ЗАКАЗЧИКУ
                  </p>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <section class="sppb-section sppb-hidden-sm sppb-hidden-xs" id="section-id-b4b44281-fa43-460d-8404-2682a048cbe5">
       <div class="sppb-row-overlay">
       </div>
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-a82af166-5ef7-4f7c-9e9d-93c6b840dd50">
          <div class="sppb-column" id="column-id-a82af166-5ef7-4f7c-9e9d-93c6b840dd50">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-668a5f97-bc55-4d5e-a7ba-701fa490d43c">
             <div class="clearfix" id="sppb-addon-668a5f97-bc55-4d5e-a7ba-701fa490d43c">
              <div class="sppb-addon sppb-addon-text-block">
               <h3 class="sppb-addon-title">
                Профессиональный осмотр лакокрасочного покрытия
               </h3>
               <div class="sppb-addon-content">
                <p>
                 Доскональная проверка толщины лакокрасочного покрытия с целью выявления ремонтных работ а так же на наличие царапин, сколов и пр.
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-157d3620-1303-4ea3-9605-0ab3da1aff4a">
          <div class="sppb-column" id="column-id-157d3620-1303-4ea3-9605-0ab3da1aff4a">
           <div class="sppb-column-addons">
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
