{% load static %}
      <div class="sppb-section" id="section-id-sA877hScVrXJKWEoIl0Rc">
       <div class="sppb-section-background-video">
        <video autoplay="" class="section-bg-video" loop="" muted="" playsinline="" preload="none" poster="{% static 'home/video/cars_video_poster.webp' %}">
         <source data-src="{% static 'home/video/cars_video.webm' %}" type="video/webm"/>
         <source data-src="{% static 'home/video/cars_video.mp4' %}" type="video/mp4"/>
        </video>
       </div>
       <div class="sppb-container-inner">
        <div class="sppb-row">
         <div class="sppb-col-md-12" id="column-wrap-id-B3B4l-0tF70Nt3VFy8ISW">
          <div class="sppb-column" id="column-id-B3B4l-0tF70Nt3VFy8ISW">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-js-slideshow" id="sppb-addon-wrapper-guWQl2Yf4jAfAnye1IvSF">
             <div class="clearfix" id="sppb-addon-guWQl2Yf4jAfAnye1IvSF">
              <div class="sppb-addon-sp-slider sp-slider hero-slider dot-controller-line dot-controller-position-vertical_left" data-aria-next="Далее" data-aria-prev="Предыдущий" data-arrow-content="icon_only" data-arrow-control="false" data-autoplay="true" data-dot-control="true" data-dot-style="line" data-height-lg="450px" data-height-md="450px" data-height-sm="350px" data-height-xl="535px" data-height-xs="350px" data-id="sppb-sp-slider-guWQl2Yf4jAfAnye1IvSF" data-indecator="true" data-interval="5000" data-loop="true" data-pause-hover="false" data-slide-count="false" data-slider-animation="clip" data-speed="800" data-timer="false" id="sppb-sp-slider-guWQl2Yf4jAfAnye1IvSF">
               <div class="sp-item active" id="sp-slider-item-guWQl2Yf4jAfAnye1IvSF-num-0-key">
                <div class="sp-slider-content-wrap">
                 <div class="sp-slider-content-align-left">
                  <h2 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"right","from":"30%", "to":"0%","duration":"800","after":"200", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-0-key-slide0">
                   <span class="op4">
                    Под заказ в любой регион
                   </span>
                  </h2>
                  <h1 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"right","from":"20%", "to":"0%","duration":"800","after":"400", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-1-key-slide0">
                   Автомобили из Южной Кореи и Китая
                  </h1>
                 </div>
                </div>
               </div>
               <div class="sp-item" id="sp-slider-item-guWQl2Yf4jAfAnye1IvSF-num-1-key">
                <div class="sp-slider-content-wrap">
                 <div class="sp-slider-content-align-left">
                  <h4 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"top","from":"30%", "to":"0%","duration":"800","after":"600", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-1-0-key-slide1">
                   <span class="op4">
                    Полный цикл услуг
                   </span>
                  </h4>
                  <h3 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"top","from":"20%", "to":"0%","duration":"800","after":"800", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-1-1-key-slide1">
                   Организация процесса под ключ
                  </h3>
                 </div>
                </div>
               </div>
               <div class="sp-item" id="sp-slider-item-guWQl2Yf4jAfAnye1IvSF-num-2-key">
                <div class="sp-slider-content-wrap">
                 <div class="sp-slider-content-align-left">
                  <h4 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"left","from":"30%", "to":"0%","duration":"800","after":"600", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-2-0-key-slide2">
                   <span class="op4">
                    Защита наших клиентов
                   </span>
                  </h4>
                  <h3 class="sppb-sp-slider-title" data-animation='{"type":"slide","direction":"left","from":"20%", "to":"0%","duration":"800","after":"800", "timing_function":"ease"}' data-layer="true" id="sp-slider-inner-item-guWQl2Yf4jAfAnye1IvSF-num-2-1-key-slide2">
                   Юридическая и техническая гарантия
                  </h3>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
