{% load static %}
      <section class="sppb-section" id="section-id-36f5ce78-e402-45f1-9192-3d7afd6629c7">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-984a44f8-9005-449d-ab7d-4e8d175ba5f3">
          <div class="sppb-column" id="column-id-984a44f8-9005-449d-ab7d-4e8d175ba5f3">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-850e73b1-87b6-440d-af17-3c417c8f8199">
             <div class="clearfix" id="sppb-addon-850e73b1-87b6-440d-af17-3c417c8f8199">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-ba31650b-f063-4733-ae8c-77cc7d3e36cb">
             <div class="clearfix" id="sppb-addon-ba31650b-f063-4733-ae8c-77cc7d3e36cb">
              <div class="sppb-addon sppb-addon-text-block">
               <h3 class="sppb-addon-title">
                Пример осмотра одного из автомобилей на видео
               </h3>
               <div class="sppb-addon-content">
                <p>
                 Подбираем автомобили только на проверенных площадках у официальных дилеров. Наши специалисты приборами измеряют толщину ЛКП, детально проверяют автомобиль, снимают обзор на видео (от 7 до 10 роликов) и делают качественные фото (до 100 фотографий)
                 <br/>
                 <br/>
                </p>
                <blockquote class="sppb-blockquote-style">
                 <p>
                  <strong>
                   Ничего не скрываем от заказчика и выявив даже минимальный недочет у автомобиля обязательно указываем на него в протоколе обзора
                  </strong>
                 </p>
                </blockquote>
                <p>
                 Мы не предлагаем "кота в мешке". Наша главная задача подобрать заказчику имненно тот автомобиль, о котором он мечтает
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-08eae4c6-1e20-46e0-9553-f6f966d822b0">
          <div class="sppb-column" id="column-id-08eae4c6-1e20-46e0-9553-f6f966d822b0">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-b3fca54b-09a8-42a6-b1fa-a8abc4e51d76">
             <div class="clearfix" id="sppb-addon-b3fca54b-09a8-42a6-b1fa-a8abc4e51d76">
              <div class="sppb-addon sppb-addon-text-block">
               <div class="sppb-addon-content">
                <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="306" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/24683b9a9fac93f4b86a086c625f92c5/" title="Видео отзыва клиента" webkitallowfullscreen="" width="600">
                </iframe>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <section class="sppb-section" id="osmotry">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-2636f62c-e613-42f2-8b83-e8ca9cb87fa6">
          <div class="sppb-column" id="column-id-2636f62c-e613-42f2-8b83-e8ca9cb87fa6">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-49dfa5df-f2b8-49cd-b586-793ec2f52468">
             <div class="clearfix" id="sppb-addon-49dfa5df-f2b8-49cd-b586-793ec2f52468">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Осматриваем автомобиль по 5 основным параметрам
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
      <div class="sppb-section sppb-section-content-center" id="section-id-10b78fac-37a6-4f5d-922c-0232583ad57b">
       <div class="sppb-container-inner">
        <div class="sppb-row sppb-align-center">
         <div class="sppb-col-md-12" id="column-wrap-id-7d21f972-2705-4373-9f5e-c4a02216a63f">
          <div class="sppb-column" id="column-id-7d21f972-2705-4373-9f5e-c4a02216a63f">
           <div class="sppb-column-addons">
            <div class="sppb-section sppb-section-content-center" id="section-id-0c57f32b-0f34-4b20-b66a-1110f17fd00a">
             <div class="sppb-container-inner">
              <div class="sppb-row sppb-nested-row sppb-align-center">
               <div class="sppb-col-md-6" id="column-wrap-id-702dcf46-c37f-4665-b4f5-419eea850f9e">
                <div class="sppb-column" id="column-id-702dcf46-c37f-4665-b4f5-419eea850f9e">
                 <div class="sppb-column-addons">
                  <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-418bbfcd-39f3-45b8-9ae8-02dbb792088a">
                   <div class="clearfix" id="sppb-addon-418bbfcd-39f3-45b8-9ae8-02dbb792088a">
                    <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                     <div class="sppb-addon-content">
                      <div class="sppb-addon-single-image-container">
                       <img alt="Image" class="sppb-img-responsive" decoding="async" height="669" loading="lazy" src="{% static 'home/images/2025/04/15/yellowcar.webp' %}" width="1200"/>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-col-md-6" id="column-wrap-id-62d23567-f41f-4dd3-97d7-3d2521784865">
                <div class="sppb-column" id="column-id-62d23567-f41f-4dd3-97d7-3d2521784865">
                 <div class="sppb-column-addons">
                  <div class="sppb-addon-wrapper addon-root-accordion" id="sppb-addon-wrapper-xcK470ePFgzFF6HFywUyI">
                   <div class="clearfix" id="sppb-addon-xcK470ePFgzFF6HFywUyI">
                    <div class="sppb-addon sppb-addon-accordion">
                     <div class="sppb-addon-content">
                      <div class="sppb-panel-group">
                       <div class="sppb-panel sppb-panel-modern">
                        <button aria-controls="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-0" aria-expanded="true" class="sppb-reset-button-styles sppb-w-full sppb-panel-heading active" data-keep-open="0" id="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-0" type="button">
                         <span aria-label="1. Кузов/ЛКП" class="sppb-panel-title">
                          1. Кузов/ЛКП
                         </span>
                         <span aria-label="Toggle Direction Icon 1" class="sppb-toggle-direction">
                          <i aria-hidden="true" class="fa fa-chevron-right">
                          </i>
                         </span>
                        </button>
                        <div aria-labelledby="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-0" class="sppb-panel-collapse" id="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-0" role="region">
                         <div class="sppb-panel-body">
                          <div class="sppb-section" id="section-id-bc9d2aaf-6825-4f18-8ad2-33d1b2783d6c">
                           <div class="sppb-container-inner">
                            <div class="sppb-row sppb-nested-row">
                             <div class="sppb-row-column" id="column-wrap-id-8e0d1ae1-1e09-40a4-94b8-eb8ff42918e2">
                              <div class="sppb-column" id="column-id-8e0d1ae1-1e09-40a4-94b8-eb8ff42918e2">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-6bcf631e-b47c-451c-b0a2-fae896069333">
                                 <div class="clearfix" id="sppb-addon-6bcf631e-b47c-451c-b0a2-fae896069333">
                                  <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                   <div class="sppb-addon-content">
                                    <div class="sppb-addon-single-image-container">
                                     <img alt="Image" class="sppb-img-responsive" decoding="async" height="115" loading="lazy" src="{% static 'home/images/2025/01/21/kuzov-auto.webp' %}" width="250"/>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                             <div class="sppb-row-column" id="column-wrap-id-b4cf20d9-dc43-41c6-ad8a-e3b1bed96464">
                              <div class="sppb-column" id="column-id-b4cf20d9-dc43-41c6-ad8a-e3b1bed96464">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-b47d9062-3d33-4199-81c2-11cebbfea213">
                                 <div class="clearfix" id="sppb-addon-b47d9062-3d33-4199-81c2-11cebbfea213">
                                  <div class="sppb-addon sppb-addon-text-block">
                                   <div class="sppb-addon-content">
                                    <p>
                                     Проверка состояния кузова осуществляется опытными специалистами. Толщиномером пробивается слой лакокрасочного покрытия: каждые 10-15 см. на каждом отдельном элементе кузова как навесном, так и несущем. Тщательно проверяется состояние болтов, сварных швов, наличие заводского герметика, резинок, уплотнителей. Проверяются стекла, фары, скрытые полости, лонжероны и т.д. Отдельно проверяется состояние резины и колесных дисков. Все недочеты в обязательном порядке фиксируются материалами осмотра и предоставляются заказчику.
                                    </p>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                       <div class="sppb-panel sppb-panel-modern">
                        <button aria-controls="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-1" aria-expanded="false" class="sppb-reset-button-styles sppb-w-full sppb-panel-heading" data-keep-open="0" id="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-1" type="button">
                         <span aria-label="2. Двигатель/трансмиссия" class="sppb-panel-title">
                          2. Двигатель/трансмиссия
                         </span>
                         <span aria-label="Toggle Direction Icon 2" class="sppb-toggle-direction">
                          <i aria-hidden="true" class="fa fa-chevron-right">
                          </i>
                         </span>
                        </button>
                        <div aria-labelledby="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-1" class="sppb-panel-collapse" id="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-1" role="region" style="display: none;">
                         <div class="sppb-panel-body">
                          <div class="sppb-section" id="section-id-e16cf961-63ba-4155-bf9e-bd2ad89f90c0">
                           <div class="sppb-container-inner">
                            <div class="sppb-row sppb-nested-row">
                             <div class="sppb-row-column" id="column-wrap-id-9cbc7b88-a874-4452-9517-48961cfb2a33">
                              <div class="sppb-column" id="column-id-9cbc7b88-a874-4452-9517-48961cfb2a33">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-4f1de123-2269-4f09-951e-d1f0597c199e">
                                 <div class="clearfix" id="sppb-addon-4f1de123-2269-4f09-951e-d1f0597c199e">
                                  <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                   <div class="sppb-addon-content">
                                    <div class="sppb-addon-single-image-container">
                                     <img alt="Image" class="sppb-img-responsive" decoding="async" height="115" loading="lazy" src="{% static 'home/images/2025/01/23/engine-n-transmission.webp' %}" width="250"/>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                             <div class="sppb-row-column" id="column-wrap-id-4db71d4f-79b0-4422-bd92-c1f906a0c5e9">
                              <div class="sppb-column" id="column-id-4db71d4f-79b0-4422-bd92-c1f906a0c5e9">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-d587f212-c4a5-4d2c-8cff-d763d794fa57">
                                 <div class="clearfix" id="sppb-addon-d587f212-c4a5-4d2c-8cff-d763d794fa57">
                                  <div class="sppb-addon sppb-addon-text-block">
                                   <div class="sppb-addon-content">
                                    <p>
                                     В данной части осмотр предусматривает визуальную проверку уровня масла в двигателе, состояния масла, наличие масляных запотеваний и подтеков. На слух определяется работа двигателя и турбины на предмет отсутствия посторонних шумов. Визуально диагностируется наличие ошибок и неисправностей на приборной панели. Проверяется плавность работы КПП, отсутствие пинков, рывков и задержек при переключении передач
                                    </p>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                       <div class="sppb-panel sppb-panel-modern">
                        <button aria-controls="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-2" aria-expanded="false" class="sppb-reset-button-styles sppb-w-full sppb-panel-heading" data-keep-open="0" id="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-2" type="button">
                         <span aria-label="3. Электрическая часть" class="sppb-panel-title">
                          3. Электрическая часть
                         </span>
                         <span aria-label="Toggle Direction Icon 3" class="sppb-toggle-direction">
                          <i aria-hidden="true" class="fa fa-chevron-right">
                          </i>
                         </span>
                        </button>
                        <div aria-labelledby="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-2" class="sppb-panel-collapse" id="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-2" role="region" style="display: none;">
                         <div class="sppb-panel-body">
                          <div class="sppb-section" id="section-id-caf785a7-a6cb-4212-8554-df679c55b6e7">
                           <div class="sppb-container-inner">
                            <div class="sppb-row sppb-nested-row">
                             <div class="sppb-row-column" id="column-wrap-id-88cd5295-ccdb-4934-b9a1-d30bbdc3f687">
                              <div class="sppb-column" id="column-id-88cd5295-ccdb-4934-b9a1-d30bbdc3f687">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-5cce3175-27c7-4b34-8996-2a2bb972481d">
                                 <div class="clearfix" id="sppb-addon-5cce3175-27c7-4b34-8996-2a2bb972481d">
                                  <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                   <div class="sppb-addon-content">
                                    <div class="sppb-addon-single-image-container">
                                     <img alt="Image" class="sppb-img-responsive" decoding="async" height="115" loading="lazy" src="{% static 'home/images/2025/01/23/electrica.webp' %}" width="250"/>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                             <div class="sppb-row-column" id="column-wrap-id-6c00848f-66e2-40c6-a001-2cdcec7db39f">
                              <div class="sppb-column" id="column-id-6c00848f-66e2-40c6-a001-2cdcec7db39f">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-a8b01bf9-c21e-47ca-9240-46647d0e7b78">
                                 <div class="clearfix" id="sppb-addon-a8b01bf9-c21e-47ca-9240-46647d0e7b78">
                                  <div class="sppb-addon sppb-addon-text-block">
                                   <div class="sppb-addon-content">
                                    <p>
                                     В ходе осмотра электрической части, проверяется работа электрики и электроники автомобиля: наружное освещение, дворники, зеркала, датчики парковки, стеклоподьемники, система кондиционирования, аудиосистема, эл.регулировка сидений (при наличии), работа бортового компьютера и т.д. При выявлении нареканий в работе электрической части автомобиля, всё фиксируется материалами осмотра и предоставляется заказчику.
                                    </p>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                       <div class="sppb-panel sppb-panel-modern">
                        <button aria-controls="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-3" aria-expanded="false" class="sppb-reset-button-styles sppb-w-full sppb-panel-heading" data-keep-open="0" id="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-3" type="button">
                         <span aria-label="4. Тормозная система" class="sppb-panel-title">
                          4. Тормозная система
                         </span>
                         <span aria-label="Toggle Direction Icon 4" class="sppb-toggle-direction">
                          <i aria-hidden="true" class="fa fa-chevron-right">
                          </i>
                         </span>
                        </button>
                        <div aria-labelledby="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-3" class="sppb-panel-collapse" id="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-3" role="region" style="display: none;">
                         <div class="sppb-panel-body">
                          <div class="sppb-section" id="section-id-c2b5934e-da0d-4e03-b83b-cab9996c1e49">
                           <div class="sppb-container-inner">
                            <div class="sppb-row sppb-nested-row">
                             <div class="sppb-row-column" id="column-wrap-id-bce96441-1047-4c53-972e-0e28185d7122">
                              <div class="sppb-column" id="column-id-bce96441-1047-4c53-972e-0e28185d7122">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-c4a0591a-0abb-4c74-a577-62e565435a01">
                                 <div class="clearfix" id="sppb-addon-c4a0591a-0abb-4c74-a577-62e565435a01">
                                  <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                   <div class="sppb-addon-content">
                                    <div class="sppb-addon-single-image-container">
                                     <img alt="Image" class="sppb-img-responsive" decoding="async" height="115" loading="lazy" src="{% static 'home/images/2025/01/23/brake.webp' %}" width="250"/>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                             <div class="sppb-row-column" id="column-wrap-id-8c483c1f-e18c-4a78-a8d3-ad6f3961f381">
                              <div class="sppb-column" id="column-id-8c483c1f-e18c-4a78-a8d3-ad6f3961f381">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-f3a0e931-9df0-4cad-8574-1c6a7267e264">
                                 <div class="clearfix" id="sppb-addon-f3a0e931-9df0-4cad-8574-1c6a7267e264">
                                  <div class="sppb-addon sppb-addon-text-block">
                                   <div class="sppb-addon-content">
                                    <p>
                                     В данной части работ наши специалисты визуально осматривают состояние тормозных дисков и колодок, проверяют их выработку. Проверяется проверяется работа тормозной системы автомобиля и уровень тормозной жидкости в бачке. Так же проверяется работоспособность стояночного тормоза и функция удержания Auto Hold.
                                    </p>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                       <div class="sppb-panel sppb-panel-modern">
                        <button aria-controls="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-4" aria-expanded="false" class="sppb-reset-button-styles sppb-w-full sppb-panel-heading" data-keep-open="0" id="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-4" type="button">
                         <span aria-label="5. Подвеска" class="sppb-panel-title">
                          5. Подвеска
                         </span>
                         <span aria-label="Toggle Direction Icon 5" class="sppb-toggle-direction">
                          <i aria-hidden="true" class="fa fa-chevron-right">
                          </i>
                         </span>
                        </button>
                        <div aria-labelledby="sppb-ac-heading-xcK470ePFgzFF6HFywUyI-key-4" class="sppb-panel-collapse" id="sppb-ac-content-xcK470ePFgzFF6HFywUyI-key-4" role="region" style="display: none;">
                         <div class="sppb-panel-body">
                          <div class="sppb-section" id="section-id-857eafea-f83c-4fdd-baf9-510c298f62f7">
                           <div class="sppb-container-inner">
                            <div class="sppb-row sppb-nested-row">
                             <div class="sppb-row-column" id="column-wrap-id-a3788593-f918-472f-b820-0b33d51b65e4">
                              <div class="sppb-column" id="column-id-a3788593-f918-472f-b820-0b33d51b65e4">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-image" id="sppb-addon-wrapper-970bd227-2f19-4687-9d23-381ce02ed1ef">
                                 <div class="clearfix" id="sppb-addon-970bd227-2f19-4687-9d23-381ce02ed1ef">
                                  <div class="sppb-addon sppb-addon-single-image sppb-addon-image-shape">
                                   <div class="sppb-addon-content">
                                    <div class="sppb-addon-single-image-container">
                                     <img alt="Image" class="sppb-img-responsive" decoding="async" height="115" loading="lazy" src="{% static 'home/images/2025/01/23/car-suspension.webp' %}" width="250"/>
                                    </div>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                             <div class="sppb-row-column" id="column-wrap-id-d78d73b4-27c2-4899-9630-c94d956c1171">
                              <div class="sppb-column" id="column-id-d78d73b4-27c2-4899-9630-c94d956c1171">
                               <div class="sppb-column-addons">
                                <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-998a1bc5-ee04-4d71-8529-79713b340e1c">
                                 <div class="clearfix" id="sppb-addon-998a1bc5-ee04-4d71-8529-79713b340e1c">
                                  <div class="sppb-addon sppb-addon-text-block">
                                   <div class="sppb-addon-content">
                                    <p>
                                     Проверка подески автомобиля включает в себя диагностику рулевой рейки на наличие посторонних стуков при поворотах руля. Проводится визуальный осмотр состояния амортизаторов передней и задней оси автомобиля. Так же проводится осмотр рычагов, стоек, пыльников, втулок, сайлентблоков и прочих элементов подвески автомобиля. Результаты осмотра тщательно фиксируются на фото и видео, и в полном объеме предоставляются заказчику.
                                    </p>
                                   </div>
                                  </div>
                                 </div>
                                </div>
                               </div>
                              </div>
                             </div>
                            </div>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <section class="sppb-section sppb-section-content-center" id="section-id-445c6c30-d9e4-4d93-a076-6efffa606c16">
       <div class="sppb-row-container">
        <div class="sppb-row sppb-align-center">
         <div class="sppb-col-md-3" id="column-wrap-id-5d5dda66-315a-45d7-bbe7-d9d662dd6535">
          <div class="sppb-column secondary-bg featured-work-col" id="column-id-5d5dda66-315a-45d7-bbe7-d9d662dd6535">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-64e613fb-0ca1-468c-afbc-feeb60fa1f89">
             <div class="clearfix" id="sppb-addon-64e613fb-0ca1-468c-afbc-feeb60fa1f89">
              <div class="sppb-addon sppb-addon-header op3">
               <h4 class="sppb-addon-title">
                Обслуживание.
               </h4>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-1a51548c-29af-4562-b704-f3ca5b49e257">
             <div class="clearfix" id="sppb-addon-1a51548c-29af-4562-b704-f3ca5b49e257">
              <div class="sppb-addon sppb-addon-header op5">
               <h4 class="sppb-addon-title">
                Комплектация.
               </h4>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-cc00a169-94ca-4056-8276-8226964daaac">
             <div class="clearfix" id="sppb-addon-cc00a169-94ca-4056-8276-8226964daaac">
              <div class="sppb-addon sppb-addon-header op8">
               <h4 class="sppb-addon-title">
                Стоимость.
               </h4>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-7f23ed5a-8822-4413-89bc-6dea67970798">
             <div class="clearfix" id="sppb-addon-7f23ed5a-8822-4413-89bc-6dea67970798">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                Пробег.
               </h4>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-5e899bf1-cd8a-4072-849e-269516ce9e8a">
             <div class="clearfix" id="sppb-addon-5e899bf1-cd8a-4072-849e-269516ce9e8a">
              <div class="sppb-addon sppb-addon-text-block">
               <div class="sppb-addon-content">
                <p>
                 Наш многолетний опыт работы позволяет сделать вывод о том, что подавляющее большинство автомобилей, представленных к продаже на вторичном рынке Южной Кореи находятся в прекрасном состоянии. Это касается как технической части, так и состояния салона и кузова автомобиля
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-9" id="column-wrap-id-deac6516-86b9-43c6-98c2-f23f7f74280a">
          <div class="sppb-column" id="column-id-deac6516-86b9-43c6-98c2-f23f7f74280a">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-4cc87ad9-e03d-4d54-b39d-cb250fa7ca47">
             <div class="clearfix" id="sppb-addon-4cc87ad9-e03d-4d54-b39d-cb250fa7ca47">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-ce90fb18-1d11-4a65-af03-30aacd6b5139">
             <div class="clearfix" id="sppb-addon-ce90fb18-1d11-4a65-af03-30aacd6b5139">
              <div class="sppb-addon sppb-addon-header op3">
               <h5 class="sppb-addon-title">
                Важно знать
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-35029f54-a853-43d7-bbf3-f6d3b65ab256">
             <div class="clearfix" id="sppb-addon-35029f54-a853-43d7-bbf3-f6d3b65ab256">
              <div class="sppb-addon sppb-addon-header op3">
               <h2 class="sppb-addon-title">
                Чем авто из Кореи лучше тех, что представлены на вторичном рынке РФ?
               </h2>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-tab" id="sppb-addon-wrapper-4r3sUEOBovDyD3UwFqcnM">
             <div class="clearfix" id="sppb-addon-4r3sUEOBovDyD3UwFqcnM">
              <div class="sppb-addon sppb-addon-tab megainc-custom-tab">
               <div class="sppb-addon-content sppb-tab sppb-custom-tab sppb-tab-nav-position">
                <ul class="sppb-nav sppb-nav-custom" role="tablist">
                 <li class="active" role="presentation">
                  <a aria-controls="sppb-tab-4r3sUEOBovDyD3UwFqcnM0" aria-selected="true" class="" data-toggle="sppb-tab" href="#sppb-tab-4r3sUEOBovDyD3UwFqcnM0" id="sppb-content-4r3sUEOBovDyD3UwFqcnM0" role="tab">
                   Хорошее обслуживание
                  </a>
                 </li>
                 <li class="" role="presentation">
                  <a aria-controls="sppb-tab-4r3sUEOBovDyD3UwFqcnM1" aria-selected="false" class="" data-toggle="sppb-tab" href="#sppb-tab-4r3sUEOBovDyD3UwFqcnM1" id="sppb-content-4r3sUEOBovDyD3UwFqcnM1" role="tab">
                   Богатая комплектация
                  </a>
                 </li>
                 <li class="" role="presentation">
                  <a aria-controls="sppb-tab-4r3sUEOBovDyD3UwFqcnM2" aria-selected="false" class="" data-toggle="sppb-tab" href="#sppb-tab-4r3sUEOBovDyD3UwFqcnM2" id="sppb-content-4r3sUEOBovDyD3UwFqcnM2" role="tab">
                   Низкая стоимость
                  </a>
                 </li>
                 <li class="" role="presentation">
                  <a aria-controls="sppb-tab-4r3sUEOBovDyD3UwFqcnM3" aria-selected="false" class="" data-toggle="sppb-tab" href="#sppb-tab-4r3sUEOBovDyD3UwFqcnM3" id="sppb-content-4r3sUEOBovDyD3UwFqcnM3" role="tab">
                   Оригинальный пробег
                  </a>
                 </li>
                </ul>
                <div class="sppb-tab-content sppb-tab-custom-content">
                 <div aria-labelledby="sppb-content-4r3sUEOBovDyD3UwFqcnM0" class="sppb-tab-pane sppb-fade active in" id="sppb-tab-4r3sUEOBovDyD3UwFqcnM0" role="tabpanel">
                  <div class="sppb-section" id="section-id-8a26e890-405e-4a93-ac9d-e3abf927a422">
                   <div class="sppb-container-inner">
                    <div class="sppb-row sppb-nested-row">
                     <div class="sppb-row-column" id="column-wrap-id-9fb1822e-6418-4bcd-a54e-22e3c4a609d2">
                      <div class="sppb-column" id="column-id-9fb1822e-6418-4bcd-a54e-22e3c4a609d2">
                       <div class="sppb-column-addons">
                        <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-5c563730-051b-4f48-830a-ed74493c6a35">
                         <div class="clearfix" id="sppb-addon-5c563730-051b-4f48-830a-ed74493c6a35">
                          <div class="sppb-addon sppb-addon-text-block op7">
                           <div class="sppb-addon-content">
                            <p>
                             Автомобили в Корее хорошо обслужены по нескольким причинам:
                            </p>
                            <p>
                             1. Качество производства: Корейские автомобильные компании, такие как Hyundai и Kia, известны высоким качеством продукции. Они внедряют современные технологии и стандарты производства, что гарантирует надежность и долговечность автомобилей.
                            </p>
                            <p>
                             2. Обслуживание автомобилей в Южной Корее осуществляется в сервисных центрах, где предоставляются качественные услуги. Эти центры используют оригинальные запчасти и следят за соблюдением стандартов.
                            </p>
                            <p>
                             3. Высокие стандарты к качеству топлива и горюче-смазочным материалам, применяемые в Южной Корее
                            </p>
                            <p>
                             4. Умеренный климат, хорошая инфраструктура, благоприятные условия для эксплуатации автомобилей и качественное дорожное покрытие. Регулярные проверки и поддержание автопарка в надлежащем состоянии.
                            </p>
                            <p>
                             5. Образование и культура: У населения высокая степень осведомленности о важности регулярного технического обслуживания. Владельцы автомобилей обычно следуют рекомендациям производителей и проводят плановые проверки.
                            </p>
                            <p>
                            </p>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                 <div aria-labelledby="sppb-content-4r3sUEOBovDyD3UwFqcnM1" class="sppb-tab-pane sppb-fade" id="sppb-tab-4r3sUEOBovDyD3UwFqcnM1" role="tabpanel">
                  <div class="sppb-section" id="section-id-48546ef9-734e-49c1-b769-843f11e003ea">
                   <div class="sppb-container-inner">
                    <div class="sppb-row sppb-nested-row">
                     <div class="sppb-row-column" id="column-wrap-id-cc8ca78c-511a-4d76-97af-cabd17f004cb">
                      <div class="sppb-column" id="column-id-cc8ca78c-511a-4d76-97af-cabd17f004cb">
                       <div class="sppb-column-addons">
                        <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-1da5d36c-e476-4083-96dd-dddf2e0d09e8">
                         <div class="clearfix" id="sppb-addon-1da5d36c-e476-4083-96dd-dddf2e0d09e8">
                          <div class="sppb-addon sppb-addon-text-block op7">
                           <div class="sppb-addon-content">
                            <p>
                             Южная Корея известна своими передовыми технологиями и инновациями. Это также касается автомобильной индустрии, где функционал и оснащение автомобилей развиваются быстрее, чем в некоторых других странах.
                            </p>
                            <p>
                             Южнокорейские потребители предпочитают автомобили с высокой степенью комфорта и безопасности, что заставляет производителей включать в стандартные комплектации больше опций, а высокий уровень доходов и потребление автомобилей является важной частью национальной культуры. Люди ожидают высококачественных и хорошо оснащенных автомобилей, что побуждает производителей предлагать более насыщенные комплектации.
                            </p>
                            <p>
                             Кроме того, высокая конкуренция на Южнокорейском рынке с имортными автопроизводителями, стимулирует местные компании предлагать более богатые комплектации с современными технологиями и удобствами, за умеренную цену. В свою очередь, ипотрные автомобили поставляемые на рынок Кореи, так же комплектуют свои авто по максимуму, чтобы держать соответствующую планку.
                            </p>
                            <p>
                             Эти факторы способствуют тому, что автомобили в Южной Корее часто имеют более богатую комплектацию по сравнению с другими странами.
                            </p>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                 <div aria-labelledby="sppb-content-4r3sUEOBovDyD3UwFqcnM2" class="sppb-tab-pane sppb-fade" id="sppb-tab-4r3sUEOBovDyD3UwFqcnM2" role="tabpanel">
                  <div class="sppb-section" id="section-id-5aff378d-713e-4a74-971c-fb3a6f600743">
                   <div class="sppb-container-inner">
                    <div class="sppb-row sppb-nested-row">
                     <div class="sppb-row-column" id="column-wrap-id-df57e471-ccc3-4798-ab9c-ec62a4c30691">
                      <div class="sppb-column" id="column-id-df57e471-ccc3-4798-ab9c-ec62a4c30691">
                       <div class="sppb-column-addons">
                        <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-d357fb21-0bd4-479d-aede-10f6c5509b1a">
                         <div class="clearfix" id="sppb-addon-d357fb21-0bd4-479d-aede-10f6c5509b1a">
                          <div class="sppb-addon sppb-addon-text-block op7">
                           <div class="sppb-addon-content">
                            <p>
                             Дефицит хороших автомобилей в нашей стране и высокие цены на внутреннем авторынке, рождают высокий спрос на автомобили из-за рубежа. Поэтому так сложилось, что привезти подержанный автомобиль из Южной Кореи намного дешевле, чем купить аналогичный на внутреннем рынке России. И на данный факт не влияют высокие таможенные пошлины, а так же введение и повышение утилизационного сбора.
                            </p>
                            <p>
                             По нашим оценкам, разница на аналогичные автомобили, предлагаемые на рынке РФ в сравнении с авто, привезенными из Южной Кореи колеблется от 300 тысяч до 1,5 миллионов рублей и выше.
                            </p>
                            <p>
                            </p>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                 <div aria-labelledby="sppb-content-4r3sUEOBovDyD3UwFqcnM3" class="sppb-tab-pane sppb-fade" id="sppb-tab-4r3sUEOBovDyD3UwFqcnM3" role="tabpanel">
                  <div class="sppb-section" id="section-id-e84808a0-698e-40f8-8ce2-74d273daa7b7">
                   <div class="sppb-container-inner">
                    <div class="sppb-row sppb-nested-row">
                     <div class="sppb-row-column" id="column-wrap-id-4739d5b6-cb2a-4279-ae2f-65024f3feb3e">
                      <div class="sppb-column" id="column-id-4739d5b6-cb2a-4279-ae2f-65024f3feb3e">
                       <div class="sppb-column-addons">
                        <div class="sppb-addon-wrapper addon-root-text-block" id="sppb-addon-wrapper-00e6e6d3-f825-4460-b958-a365e96e05fb">
                         <div class="clearfix" id="sppb-addon-00e6e6d3-f825-4460-b958-a365e96e05fb">
                          <div class="sppb-addon sppb-addon-text-block op7">
                           <div class="sppb-addon-content">
                            <p>
                             В Южной Корее скручивание пробегов у автомобилей встречается реже, чем в некоторых других странах, по целому ряду причин.
                            </p>
                            <p>
                             1. Государственный контроль и регулирование: В стране действует строгая система учета пробега и уголовная ответсвенность за его фальсификацию. Поэтому правительственные органы требуют регулярной проверки автомобилей. Каждый раз, когда автомобиль обслуживается, информация о пробеге фиксируется в официальной базе данных, что затрудняет мошенничество.
                            </p>
                            <p>
                             2. Технологические инновации: Современные автомобили оборудованы бортовыми системами, которые фиксируют данные о пробеге и могут быть подключены к сервисам, что делает фальсификацию этих данных более сложной.
                            </p>
                            <p>
                             3. Культура честности: В Южной Корее существует высокая степень социальной ответственности, и общественное мнение играет важную роль. Мошенничество воспринимается как недопустимое поведение, что может снизить мотивацию к подобным действиям.
                            </p>
                            <p>
                             4. Конкуренция на рынке подержанных автомобилей: Корейские покупатели стали более осведомленными и аккуратными при выборе подержанных автомобилей. Это создает спрос на прозрачность и честность, что стимулирует продавцов предоставлять правдивую информацию о пробеге.
                            </p>
                            <p>
                             5. Система сертификации: Существуют службы и организации, которые занимаются проверкой состояния и пробега подержанных автомобилей, что добавляет дополнительный уровень защиты для покупателей.
                            </p>
                            <p>
                             6. Репутационные риски: Компании и частные лица, замешанные в скручивании пробега, рискуют потерять репутацию и доверие клиентов, что может иметь долгосрочные финансовые последствия.
                            </p>
                            <p>
                            </p>
                           </div>
                          </div>
                         </div>
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                   </div>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
