      <section class="sppb-section" id="kak-kupit">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-col-md-12" id="column-wrap-id-422942ae-c7ae-4e6d-99b6-f78e686a4679">
          <div class="sppb-column" id="column-id-422942ae-c7ae-4e6d-99b6-f78e686a4679">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-5b640a76-d6be-42e6-83c9-db9b410f0c2b">
             <div class="clearfix" id="sppb-addon-5b640a76-d6be-42e6-83c9-db9b410f0c2b">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-008ecb3a-e1ec-4b91-98b3-338d94b9a785">
             <div class="clearfix" id="sppb-addon-008ecb3a-e1ec-4b91-98b3-338d94b9a785">
              <div class="sppb-addon sppb-addon-header op3">
               <h5 class="sppb-addon-title">
                Как происходит процесс покупки?
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-18debd7c-7bcf-42c7-b804-4984a4378ea2">
             <div class="clearfix" id="sppb-addon-18debd7c-7bcf-42c7-b804-4984a4378ea2">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Четыре основных шага для покупки автомобиля в Южной Корее
               </h2>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-98796ed1-8403-4b99-a341-476d8c73dc50">
          <div class="sppb-column" id="column-id-98796ed1-8403-4b99-a341-476d8c73dc50">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-e6b9010e-479c-48b4-9864-6335b4d27f9c">
             <div class="clearfix" id="sppb-addon-e6b9010e-479c-48b4-9864-6335b4d27f9c">
              <div class="sppb-addon sppb-addon-header step-arrow op3">
               <h5 class="sppb-addon-title">
                Шаг
                <span class="step-number">
                 1
                </span>
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-9c30cc61-f9b9-448a-a8d4-ed059494fe7c">
             <div class="clearfix" id="sppb-addon-9c30cc61-f9b9-448a-a8d4-ed059494fe7c">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                Бесплатная консультация, подбор авто
               </h4>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-8128855b-4e6a-4f2e-87b2-50b31277e3d9">
          <div class="sppb-column" id="column-id-8128855b-4e6a-4f2e-87b2-50b31277e3d9">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-397448e4-d972-4c8a-89b0-fa7bbe2d52f6">
             <div class="clearfix" id="sppb-addon-397448e4-d972-4c8a-89b0-fa7bbe2d52f6">
              <div class="sppb-addon sppb-addon-header step-arrow op3">
               <h5 class="sppb-addon-title">
                Шаг
                <span class="step-number">
                 2
                </span>
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-db6f6f68-5156-4f02-94ee-a006597f53e4">
             <div class="clearfix" id="sppb-addon-db6f6f68-5156-4f02-94ee-a006597f53e4">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                Выезд специалиста на осмотр
               </h4>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-c055907c-a1c6-4391-b627-e3ef6cbf30dc">
          <div class="sppb-column" id="column-id-c055907c-a1c6-4391-b627-e3ef6cbf30dc">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-33574abd-82f1-476a-8238-07ec601ad384">
             <div class="clearfix" id="sppb-addon-33574abd-82f1-476a-8238-07ec601ad384">
              <div class="sppb-addon sppb-addon-header step-arrow op3">
               <h5 class="sppb-addon-title">
                Шаг
                <span class="step-number">
                 3
                </span>
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-934e4290-311e-415b-aea2-50064ccc24ce">
             <div class="clearfix" id="sppb-addon-934e4290-311e-415b-aea2-50064ccc24ce">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                Бронирование, выкуп авто у дилера
               </h4>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-col-md-3 sppb-col-sm-6" id="column-wrap-id-6ba39634-5c41-42ce-b128-3f20ad05a4cf">
          <div class="sppb-column" id="column-id-6ba39634-5c41-42ce-b128-3f20ad05a4cf">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-faaec121-9719-4573-b2ef-1a9b5e4d5ab0">
             <div class="clearfix" id="sppb-addon-faaec121-9719-4573-b2ef-1a9b5e4d5ab0">
              <div class="sppb-addon sppb-addon-header step-arrow op3">
               <h5 class="sppb-addon-title">
                Шаг
                <span class="step-number">
                 4
                 <span>
                 </span>
                </span>
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-6e9c1248-2d81-48bf-97f5-32be45dc48e2">
             <div class="clearfix" id="sppb-addon-6e9c1248-2d81-48bf-97f5-32be45dc48e2">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                ТО, отправка в регион покупателя
               </h4>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
