      <section class="sppb-section" id="section-id-63e7d0c4-3a32-4979-b358-2c7c6532ab66">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-row-column" id="column-wrap-id-e3a8f0f7-6399-43bb-9d8c-7337295c9111">
          <div class="sppb-column" id="column-id-e3a8f0f7-6399-43bb-9d8c-7337295c9111">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-a770dbf0-9ab7-4e0f-8edc-ccaae0134c01">
             <div class="clearfix" id="sppb-addon-a770dbf0-9ab7-4e0f-8edc-ccaae0134c01">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-f1166831-6d5f-4115-b23d-24dbfb4d6ef7">
             <div class="clearfix" id="sppb-addon-f1166831-6d5f-4115-b23d-24dbfb4d6ef7">
              <div class="sppb-addon sppb-addon-header">
               <h5 class="sppb-addon-title">
                Обратная связь
               </h5>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-639b4977-fce1-4d7e-a97a-7849435d3e5f">
             <div class="clearfix" id="sppb-addon-639b4977-fce1-4d7e-a97a-7849435d3e5f">
              <div class="sppb-addon sppb-addon-header">
               <h2 class="sppb-addon-title">
                Отзывы о нашей работе
               </h2>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-testimonial-carousel" id="sppb-addon-wrapper-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6">
             <div class="clearfix" id="sppb-addon-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6">
              <div class="sppb-addon sppb-carousel-extended sppb-testimonial-carousel-testi_layout3" data-aria-next="Далее" data-aria-prev="Предыдущий" data-arrow="1" data-autoplay="0" data-dots="0" data-interval="4500" data-item-number-lg="3" data-item-number-md="3" data-item-number-sm="3" data-item-number-xl="4" data-item-number-xs="1" data-left-arrow="fa-angle-left" data-loop="true" data-margin-lg="" data-margin-md="" data-margin-sm="" data-margin-xl="12" data-margin-xs="" data-pause-on-hover="0" data-right-arrow="fa-angle-right" data-speed="1500" data-testi-layout="testi_layout3">
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-0">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-0">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/b01059d843b5c69740fb2ae3d1cd682d/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Станислав, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   Renault SAMSUNG XM3
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-1">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-1">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/4217e2a2d92bf8fa77e850b174dc72ab/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Олеся, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   BMW X5
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-2">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-2">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/4a86d06a11c8893d6c55a2bf02f7d75d/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Дмитрий, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   HYUNDAI TUCSON
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-3">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-3">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/f8f70a591e420fd1c7402d1641dbb6db/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Анатолий, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   Renault SAMSUNG XM3
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-4">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-4">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/5ae31ff7e66ca83e9cc30187e0bae5f7/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Муледин, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA K3
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-5">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-5">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/db1b14b8363b7a7c37b8ee23ad7984e4/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Вячеслав, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   Renault SAMSUNG XM3
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-6">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-6">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/9ffe959f409d21fb7d924b942807a7fb/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Александр, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA K3
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-7">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-7">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/f44e2211a5634fc5d83109157463b3c2/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Оксана, Туапсе
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   Changan UNI-T
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-8">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-8">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/811fe0e74ffbbbda136ee5b53f91330d/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Юрий, г. Геленджик
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA CARNIVAL
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-9">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-9">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/192bfd8589d12a6f7cf0a266871d5624/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Пётр, г. Аскай
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   HYUNDAI TUCSON
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-10">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-10">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/ec72ac2c9a13b51bd8ee93484311a739/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Дмитрий, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA SORENTO
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-11">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-11">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/4040d9673ed47fd30b2f6cfbb0489981/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Дмитрий, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA SORENTO
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-12">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-12">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/a32419700837ae6c6fbb60473b9c99da/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   Сергей, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA SORENTO
                  </div>
                 </div>
                </div>
               </div>
               <div class="sppb-carousel-extended-item" id="sppb-testi-b84b92c5-c5b4-4e4a-b5d3-2db57ddc52b6-carousel-item-key-13">
                <div class="sppb-testimonial-carousel-item-content">
                 <div class="sppb-testimonial-carousel-client-rating rating-key-13">
                  <span class="sppb-testimonial-carousel-rating">
                  </span>
                 </div>
                 <div class="sppb-testimonial-carousel-message">
                  <iframe allow="clipboard-write; autoplay" allowfullscreen="" frameborder="0" height="336" loading="lazy" mozallowfullscreen="" src="https://rutube.ru/play/embed/6136ac43461f181c7de8e51e3baaacd2/" title="Видео отзыва клиента" webkitallowfullscreen="" width="263">
                  </iframe>
                 </div>
                </div>
                <div class="sppb-testimonial-carousel-content-wrap">
                 <div class="sppb-testimonial-carousel-name-designation">
                  <div class="sppb-testimonial-carousel-name">
                   София, Ростов-на-Дону
                  </div>
                  <div class="sppb-testimonial-carousel-designation">
                   KIA NIRO
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
