{% load static %}
      <section class="sppb-section" id="section-id-73cf4c10-1ae6-454a-ad37-02c7cd8347ae">
       <div class="sppb-row-container">
        <div class="sppb-row">
         <div class="sppb-col-md-12" id="column-wrap-id-622c5ca5-6708-402b-9f8a-f4ca3a78b470">
          <div class="sppb-column" id="column-id-622c5ca5-6708-402b-9f8a-f4ca3a78b470">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-divider" id="sppb-addon-wrapper-0462df8b-cb64-49d1-bd2f-003cba280a93">
             <div class="clearfix" id="sppb-addon-0462df8b-cb64-49d1-bd2f-003cba280a93">
              <div class="sppb-addon-divider-wrap divider-position">
               <div class="sppb-divider sppb-divider-border" role="none">
               </div>
              </div>
             </div>
            </div>
            <div class="sppb-addon-wrapper addon-root-heading" id="sppb-addon-wrapper-ead59437-f2e8-4d38-8beb-a0cecba5006e">
             <div class="clearfix" id="sppb-addon-ead59437-f2e8-4d38-8beb-a0cecba5006e">
              <div class="sppb-addon sppb-addon-header">
               <h4 class="sppb-addon-title">
                Наша команда
               </h4>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-d02802f2-fc1a-4bd8-b3f4-55f9bcd0264c">
          <div class="sppb-column" id="column-id-d02802f2-fc1a-4bd8-b3f4-55f9bcd0264c">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-person" id="sppb-addon-wrapper-c0503124-64a4-4141-b65b-d0a7baf09b6b">
             <div class="clearfix" id="sppb-addon-c0503124-64a4-4141-b65b-d0a7baf09b6b">
              <div class="sppb-addon sppb-addon-person person-content-position-half-overlay">
               <div class="sppb-addon-content">
                <div class="sppb-person-image">
                 <img alt="ИВАН" class="sppb-img-responsive" decoding="async" height="800" loading="lazy" src="{% static 'home/images/2025/09/01/ivan.webp' %}" style="display: inline-block;" width="600"/>
                 <div class="person-content-show-on-hover">
                  <div class="person-content-hover-content-wrap">
                   <span class="sppb-person-name">
                    ИВАН
                   </span>
                   <span class="sppb-person-designation">
                    Главный менеджер
                   </span>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
         <div class="sppb-row-column" id="column-wrap-id-24efca3d-c927-4123-8d18-f359674105b5">
          <div class="sppb-column" id="column-id-24efca3d-c927-4123-8d18-f359674105b5">
           <div class="sppb-column-addons">
            <div class="sppb-addon-wrapper addon-root-person" id="sppb-addon-wrapper-93e48f05-5393-4c3d-822f-456cd48e4808">
             <div class="clearfix" id="sppb-addon-93e48f05-5393-4c3d-822f-456cd48e4808">
              <div class="sppb-addon sppb-addon-person person-content-position-half-overlay">
               <div class="sppb-addon-content">
                <div class="sppb-person-image">
                 <img alt="ДАНИЛ" class="sppb-img-responsive" decoding="async" height="800" loading="lazy" src="{% static 'home/images/2025/09/01/danil_aksyuk.webp' %}" style="display: inline-block;" width="600"/>
                 <div class="person-content-show-on-hover">
                  <div class="person-content-hover-content-wrap">
                   <span class="sppb-person-name">
                    ДАНИЛ
                   </span>
                   <span class="sppb-person-designation">
                    Главный менеджер
                   </span>
                  </div>
                 </div>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </section>
