<tr data-product-attribute-row>
    <td>
        {% for hidden in form.hidden_fields %}{{ hidden }}{{ hidden.errors }}{% endfor %}
        {{ form.non_field_errors }}
        {{ form.attribute_type }}{{ form.attribute_type.errors }}
    </td>
    <td>{{ form.attribute_value }}{{ form.attribute_value.errors }}</td>
    <td>{{ form.free_value }}{{ form.free_value.errors }}</td>
    <td>{{ form.sort_order }}{{ form.sort_order.errors }}</td>
    <td><label>{{ form.DELETE }} Удалить</label></td>
</tr>
