{% load static %}

<header id="sp-header">
 <div class="row">
  <div class="col-6 col-sm-4 col-lg-3" id="sp-logo">
   <div class="sp-column d-flex align-items-center">
    <ul class="sp-contact-info">
     <li class="sp-contact-mobile">
      <span aria-hidden="true" class="fa fa-mobile">
      </span>
      <a href="tel:+79885808899">
       +7(988)580-88-99
      </a>
     </li>
    </ul>
    <div class="logo">
     <a href="{% url 'home' %}">
      <img alt="Подберем АВТО - автомобили под заказ из Южной Кореи и Китая полный цикл услуг" class="logo-image d-none d-lg-inline-block" decoding="async" src="{% static 'home/images/logo.png' %}"/>
      <img alt="Подберем АВТО - автомобили под заказ из Южной Кореи и Китая полный цикл услуг" class="logo-image-phone d-inline-block d-lg-none" decoding="async" src="{% static 'home/images/logo.png' %}"/>
     </a>
    </div>
   </div>
  </div>
  <div class="col-2 col-sm-6 col-lg-6" id="sp-menu">
   <div class="sp-column d-flex align-items-center justify-content-end">
    <nav class="sp-megamenu-wrapper" role="navigation">
     <a aria-label="Navigation" class="offcanvas-toggler-right d-block d-lg-none" href="#" id="offcanvas-toggler">
      <i aria-hidden="true" class="fa fa-bars" title="Navigation">
      </i>
     </a>
     <ul class="sp-megamenu-parent menu-animation-fade-down d-none d-lg-block">
      <li class="sp-menu-item current-item active">
       <a aria-current="page" href="{% url 'home' %}">
        Главная
       </a>
      </li>
      <li class="sp-menu-item">
       <a href="#o-nas">
        О нас
       </a>
      </li>
      <li class="sp-menu-item">
       <a href="#kak-kupit">
        Как купить
       </a>
      </li>
       </li>
      <li class="sp-menu-item">
       <a href="catalog">
        Каталог
       </a>
      </li>     
      <li class="sp-menu-item">
       <a href="#osmotry">
        Осмотры
       </a>
      </li>
      <li class="sp-menu-item">
       <a href="#sroki">
        Сроки
       </a>
      </li>
      <li class="sp-menu-item">
       <a href="#klienty">
        Клиенты
       </a>
      </li>
     </ul>
    </nav>
   </div>
  </div>
  <div class="col-4 col-sm-2 col-lg-3" id="sp-menu-right">
   <div class="sp-column d-flex align-items-center">
    <div class="sp-module mod-contact-btn">
     <div class="sp-module-content">
      <div class="mod-sppagebuilder mod-contact-btn sp-page-builder">
       <div class="page-content">
        <section class="sppb-section" id="section-id-1558086411009">
         <div class="sppb-row-container">
          <div class="sppb-row">
           <div class="sppb-col-md-12" id="column-wrap-id-1558086411019">
            <div class="sppb-column" id="column-id-1558086411019">
             <div class="sppb-column-addons">
              <div class="sppb-addon-wrapper addon-root-button" id="sppb-addon-wrapper-1558086411021">
               <div class="clearfix" id="sppb-addon-1558086411021">
                <div class="sppb-button-wrapper">
                 <a class="sppb-btn btn-white op6 sppb-btn-default sppb-btn-sm sppb-btn-rounded sppb-btn-outline" href="#" id="btn-1558086411021">
                  Contact
                 </a>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </section>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</header>
