<div class="offcanvas-menu">
 <a class="close-offcanvas" href="#">
  <span class="fa fa-remove">
  </span>
 </a>
 <div class="offcanvas-inner">
  <div class="sp-module">
   <div class="sp-module-content">
    <ul class="mod-menu mod-list menu">
     <li class="item-101 default current active">
      <a aria-current="page" href="{% url 'home' %}">
       Главная
      </a>
     </li>
     <li class="item-114">
      <a href="#o-nas">
       О нас
      </a>
     </li>
     <li class="item-361">
      <a href="#kak-kupit">
       Как купить
      </a>
     </li>
     <li class="item-362">
      <a href="#osmotry">
       Осмотры
      </a>
     </li>
     <li class="item-363">
      <a href="#sroki">
       Сроки
      </a>
     </li>
     <li class="item-364">
      <a href="#klienty">
       Клиенты
      </a>
     </li>
    </ul>
   </div>
  </div>
 </div>
</div>
