@font-face {
  font-family: 'Work Sans';
  src: url('../../fonts/work-sans-v24-latin-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/open-sans-v44-cyrillic_cyrillic-ext_greek_greek-ext_hebrew_latin_latin-ext_math_symbols_vietnamese-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
}

@font-face {
  font-family: 'Abhaya Libre';
  src: url('../../fonts/abhaya-libre-v18-latin_latin-ext_sinhala-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
}
