


.sp-slider {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}


.sp-slider .sp-item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, opacity, clip, clip-path;
  -webkit-transition-property: transform, -webkit-transform, opacity, -webkit-opacity, clip, clip-path;
  position: absolute;
}

.sp-slider .sp-item.active {
  visibility: visible;
  transform-style: preserve-3d;
}


.sp-slider .sp-item [data-layer="true"] {
  opacity: 0;
  transition-timing-function: 0.2s !important;
}

.sp-slider .sp-item.active [data-layer="true"] {
  opacity: 1;
}


.sp-slider .sp-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  width: 100%;
  margin-top: 5px;
  z-index: 3;
}

.sp-slider .sp-dots ul {
  margin: -4px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.sp-slider .sp-dots ul li {
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  height: 4px;
  width: 30px;
  margin: 5px;
  border: 0;
  border-radius: 2px;
  position: relative;
}

.sp-slider .sp-dots ul li.active {
  width: 80px;
}


.sp-slider .sp-dots ul li .dot-indicator {
  position: absolute;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition-property: transform, -webkit-transform, width;
  -webkit-transition-property: transform, -webkit-transform, width;
  width: 0;
  left: 0;
  top: 0;
  height: 4px;
  border-radius: 2px;
}

.sp-slider .sp-dots ul li .dot-indicator.active {
  background: #fff;
  width: 100%;
  top: 0;
  border-radius: 2px;
}


.dot-controller-line.sp-slider .sp-dots ul li .dot-indicator {
  bottom: 0;
  margin: auto;
}

.dot-controller-line.sp-slider .sp-dots ul li::before {
  content: "";
  padding-top: 3px;
  display: block;
  margin-top: -3px;
}

.dot-controller-line.sp-slider .sp-dots ul li::after {
  content: "";
  padding-bottom: 3px;
  display: block;
  margin-top: 3px;
}

.dot-controller-line.sp-slider .sp-dots ul li.active {
  width: 50px; 
}


.dot-controller-position-vertical_left.sp-slider .sp-dots {
  transform: initial;
  margin: auto;
  max-width: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0; 
}

.dot-controller-position-vertical_left .sp-dots ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.dot-controller-line.dot-controller-position-vertical_left .sp-dots {
  max-width: 50px;
}

.dot-controller-line.dot-controller-position-vertical_left .sp-dots ul li.active {
  width: 50px;
}

.dot-controller-line.dot-controller-position-vertical_left .sp-dots ul {
  text-align: left;
}