

body,
.sp-preloader {
  background-color: #2b2b2b;
  color: #FFFFFF;
}
.sp-preloader > div {
  background: #2b2b2b;
}
.sp-preloader > div:after {
  background: #2b2b2b;
}

#sp-header {
  background: #2b2b2b;
  height: 100px;
}
#sp-header .logo {
  height: 100px;
  background-color: #001335;
}

a {
  color: #2b2b2b;
}
a:hover,
a:focus,
a:active {
  color: #2b2b2b;
}
body a {
  color: #FFFFFF;
}
body a:hover,
body a:focus {
  color: #FFFFFF;
}


.sp-megamenu-parent > li > a {
  color: #FFFFFF;
}
.sp-megamenu-parent > li:hover > a {
  color: #FFFFFF;
}
.sp-megamenu-parent > li.active > a,
.sp-megamenu-parent > li.active:hover > a {
  color: #FFFFFF;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
  background: #FFFFFF;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #252525;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
  color: #2b2b2b;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
  color: #2b2b2b;
}
.sp-megamenu-parent .sp-mega-group > li > a {
  color: #252525;
}


#offcanvas-toggler > .fa {
  color: #FFFFFF;
}
#offcanvas-toggler > .fa:hover,
#offcanvas-toggler > .fa:focus,
#offcanvas-toggler > .fa:active {
  color: #FFFFFF;
}

.offcanvas-menu {
  background-color: #FFFFFF;
  color: #252525;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li span {
  color: #252525;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover,
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:focus,
.offcanvas-menu .offcanvas-inner .sp-module ul > li span:hover,
.offcanvas-menu .offcanvas-inner .sp-module ul > li span:focus {
  color: #2b2b2b;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler {
  color: rgba(37, 37, 37, 0.5);
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li ul li a {
  color: rgba(37, 37, 37, 0.8);
}


.btn-primary,
.sppb-btn-primary {
  border-color: #2b2b2b;
  background-color: #2b2b2b;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #2b2b2b;
  background-color: #2b2b2b;
}


#sp-bottom-top,
#sp-footer,
#sp-bottom {
  background: #252525;
  color: rgba(255, 255, 255, 0.6);
}
#sp-bottom-top .text-color,
#sp-footer .text-color,
#sp-bottom .text-color {
  color: #FFFFFF;
}
#sp-bottom-top a,
#sp-footer a,
#sp-bottom a {
  color: rgba(255, 255, 255, 0.6);
}
#sp-bottom-top a:hover,
#sp-bottom-top a:active,
#sp-bottom-top a:focus,
#sp-footer a:hover,
#sp-footer a:active,
#sp-footer a:focus,
#sp-bottom a:hover,
#sp-bottom a:active,
#sp-bottom a:focus {
  color: #FFFFFF;
}
#sp-bottom .sp-module-content .latestnews > li > a > span {
  color: #FFFFFF;
}


#sp-bottom-top .sppb-btn.sppb-btn-primary,
.sppb-btn.sppb-btn-primary {
  background-color: #2b2b2b;
}
#sp-bottom-top .sppb-btn.sppb-btn-primary.sppb-btn-outline,
.sppb-btn.sppb-btn-primary.sppb-btn-outline {
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
}
#sp-bottom-top .sppb-btn.sppb-btn-primary.sppb-btn-outline:hover,
#sp-bottom-top .sppb-btn.sppb-btn-primary.sppb-btn-outline:focus,
.sppb-btn.sppb-btn-primary.sppb-btn-outline:hover,
.sppb-btn.sppb-btn-primary.sppb-btn-outline:focus {
  background-color: #2b2b2b;
}
#sp-bottom-top .sppb-btn.sppb-btn-primary:hover,
#sp-bottom-top .sppb-btn.sppb-btn-primary:focus,
.sppb-btn.sppb-btn-primary:hover,
.sppb-btn.sppb-btn-primary:focus {
  background-color: #121212;
}
#sp-bottom-top .sppb-btn.sppb-btn-default,
.sppb-btn.sppb-btn-default {
  color: #2b2b2b;
}
#sp-bottom-top .sppb-btn.sppb-btn-default:hover,
#sp-bottom-top .sppb-btn.sppb-btn-default:focus,
.sppb-btn.sppb-btn-default:hover,
.sppb-btn.sppb-btn-default:focus {
  background-color: #e6e6e6;
}
#sp-bottom-top .sppb-btn.sppb-btn-default.sppb-btn-outline:hover,
#sp-bottom-top .sppb-btn.sppb-btn-default.sppb-btn-outline:focus,
.sppb-btn.sppb-btn-default.sppb-btn-outline:hover,
.sppb-btn.sppb-btn-default.sppb-btn-outline:focus {
  color: #2b2b2b;
}
#sp-bottom-top .sppb-btn.sppb-btn-link,
.sppb-btn.sppb-btn-link {
  color: #FFFFFF;
}
#sp-bottom-top .sppb-btn.sppb-btn-link.sppb-btn-primary-link,
.sppb-btn.sppb-btn-link.sppb-btn-primary-link {
  color: #2b2b2b;
}


.hero-slider div[class*="sp-slider-content-align"] {
  background-color: rgba(0, 19, 53, 0.6);
}
.hero-slider div[class*="sp-slider-content-align"] {
  background-color: rgba(0, 19, 53, 0.6);
}


.primary-bg {
  background-color: #001335;
}
.secondary-bg {
  background-color: #2c5bbc;
}

#sp-logo .sp-column a {
  color: #FFFFFF;
}

.req-a-call .sppb-form-builder-btn button:hover,
.req-a-call .sppb-form-builder-btn button:focus {
  color: #2b2b2b;
}


.sppb-addon-persion .sppb-person-information > span.sppb-person-designation,
.sppb-addon-persion .sppb-person-information > span.sppb-person-email,
.sppb-addon-person .sppb-person-information > span.sppb-person-designation,
.sppb-addon-person .sppb-person-information > span.sppb-person-email {
  color: #FFFFFF;
}
.sppb-addon-person .person-content-show-on-hover {
  background: #2b2b2b;
}


.megainc-custom-tab .sppb-nav-custom {
  background-color: rgba(0, 19, 53, 0.3);
}
.megainc-custom-tab .sppb-nav-custom > li > a {
  color: #FFFFFF;
}
.megainc-custom-tab .sppb-nav-custom > li > a:hover,
.megainc-custom-tab .sppb-nav-custom > li > a:focus {
  border-left-color: #FFFFFF !important;
  background-color: #2c5bbc;
  color: rgba(255, 255, 255, 0.6);
}
.megainc-custom-tab .sppb-nav-custom > li.active > a {
  border-left-color: #FFFFFF !important;
  background-color: #2c5bbc;
  color: rgba(255, 255, 255, 0.6);
}


input[type="text"]:not(.form-control),
input[type="email"]:not(.form-control),
input[type="url"]:not(.form-control),
input[type="date"]:not(.form-control),
input[type="password"]:not(.form-control),
input[type="search"]:not(.form-control),
input[type="tel"]:not(.form-control),
input[type="number"]:not(.form-control),
select:not(.form-control) {
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
input[type="text"]:not(.form-control)::placeholder,
input[type="email"]:not(.form-control)::placeholder,
input[type="url"]:not(.form-control)::placeholder,
input[type="date"]:not(.form-control)::placeholder,
input[type="password"]:not(.form-control)::placeholder,
input[type="search"]:not(.form-control)::placeholder,
input[type="tel"]:not(.form-control)::placeholder,
input[type="number"]:not(.form-control)::placeholder,
select:not(.form-control)::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input[type="text"]:not(.form-control):focus,
input[type="email"]:not(.form-control):focus,
input[type="url"]:not(.form-control):focus,
input[type="date"]:not(.form-control):focus,
input[type="password"]:not(.form-control):focus,
input[type="search"]:not(.form-control):focus,
input[type="tel"]:not(.form-control):focus,
input[type="number"]:not(.form-control):focus,
select:not(.form-control):focus {
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}

textarea.sppb-form-control,
.sppb-form-group textarea.sppb-form-control {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
}
textarea.sppb-form-control::placeholder,
.sppb-form-group textarea.sppb-form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


.sppb-addon-form-builder:not(.req-a-call) .sppb-form-control::placeholder,
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-group .sppb-form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.sppb-addon-form-builder:not(.req-a-call) .form-builder-checkbox-item label::before,
.sppb-addon-form-builder:not(.req-a-call) .form-builder-radio-item label::before,
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-check-label::before {
  border-color: #FFFFFF;
}
.sppb-addon-form-builder:not(.req-a-call) .form-builder-checkbox-item input:checked + label::before,
.sppb-addon-form-builder:not(.req-a-call) .form-builder-radio-item input:checked + label::before,
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-check-input:checked + label::before {
  background: #FFFFFF;
  border-color: #FFFFFF;
}
.sppb-addon-form-builder:not(.req-a-call) textarea.sppb-form-control {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-builder-btn .sppb-btn {
  background-color: #2c5bbc;
}
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-builder-btn .sppb-btn:hover,
.sppb-addon-form-builder:not(.req-a-call) .sppb-form-builder-btn .sppb-btn:focus {
  background-color: #3266cf;
}


body.preset-white .sppb-addon-testimonial:hover .sppb-addon-content {
  border-left-color: #2b2b2b;
}
body.preset-white #sp-header .logo {
  background-color: #2b2b2b;
}
body.preset-white #sp-menu-right .sppb-btn.btn-white {
  border-color: #2b2b2b;
  color: #2b2b2b;
}
body.preset-white .sppb-btn.preset-white-btn {
  background-color: #2b2b2b;
}
body.preset-white .sp-simpleportfolio-view-items .carousel-control-prev,
body.preset-white .sp-simpleportfolio-view-items .carousel-control-next {
  color: #FFFFFF;
}
body.preset-white .megainc-custom-tab .sppb-nav-custom {
  background-color: #2b2b2b;
}
body.preset-white .contact-from-wrap.gray-section .sppb-form-builder-btn button {
  background-color: #2b2b2b;
}
body.preset-white.com-users #sp-main-body .sppb-btn.sppb-btn-default {
  background-color: #2b2b2b;
}


.sp-module ul > li > a {
  color: #FFFFFF;
}
.sp-module ul > li > a:hover {
  color: #2b2b2b;
}
.sp-module .latestnews > div > a {
  color: #FFFFFF;
}
.sp-module .latestnews > div > a:hover {
  color: #2b2b2b;
}
.sp-module .tagscloud .tag-name:hover {
  background: #2b2b2b;
}